<h2 id="bio">Bio</h2>

<p>Nick Matantsev is an experienced software architect with 10+ years of planning, programming and maintaining enterprise software. Most recently, Nick has spent 3 years leading the development and roll-out of an enterprise videoconferencing product used by some of the world’s largest telecom companies across four continents. Nick’s technical skillset is full-stack, and his production experience is centered on the finance, healthcare and telecom industries.</p>

<p>Having spent years in lean and agile team environments, Nick is fluent in the Scrum process (product owner certification); he coaches developers, regularly presents on technical topics such as DevOps and front-end engineering and has authored several open source projects.</p>

<p>Outside of work, Nick is an avid cyclist and photographer. He is a big fan of sushi and keeping up a regular cardio routine.</p>

<h2 id="contact">Contact</h2>

<p>Get in touch!</p>

<ul>
  <li>Email: nick.matantsev@gmail.com</li>
  <li>LinkedIn: https://ca.linkedin.com/in/nickmatantsev</li>
  <li>Twitter: <a href="https://twitter.com/unframework">@unframework</a></li>
</ul>
