---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="page-header">
          <h1>unframework</h1>
      </div>

      <h2>{{ page.title }}</h2>
      <p class="text-muted"><i>{{ page.date | date: '%b %-d, %Y' }}</i></p>

      {{ content }}

      <p class="text-muted"><i>{{ page.date | date: '%b %-d, %Y' }}</i></p>
      <p>&nbsp;</p>

      <footer class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">unframework.com</a>
          </div>
          <div class="navbar-collapse">
            <p class="navbar-text navbar-right">
              Nick Matantsev
              &middot;
              <a href="/" class="navbar-link">Homepage</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
